ul#menu1{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    
}
ul#menu1 li{
    background-color: #AF7051;
    float: left;
    height: 2.5em;
    line-height: 2.5em;
    border-color:#af7051; 
    border-style: solid;
    border-width: 3px 0;
    
}
ul#menu1 a{
    color: #F0D7B5;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    height: 100%;
}
#menu1 li:hover{
    background-color: rgb(255, 203, 177);
}
#menu1 li:hover a{
    color: #AF7051;
}
ul#menu2{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #6FA3FF;
    padding: 5px 7px;
    width: 150px;
}
ul#menu2 li{
    background-color:  #5F82BF;
    margin: 1px;
    text-align: center;
    border-color: #B5C4DF;
    border-width: 1px 5px;
    border-style: solid double;
}
ul#menu a{
    color:#B5C4DF;
    text-decoration: none;
    padding: 5px;
    display: block;
}
#menu2 li:hover{
    position: relative;
    right: -5px;
}
#menu2 li:hover a{
color:white;
}
#menu2 li .actual{
    border-color:#D1DCEF;
    border-style: solid;
    background-color: #7495CF;
}
#menu2 li .actual a{
    color: #EFF5FF;
}